<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <title>TRAVEL BLOG</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: #fcf0fb;
        }
        header {
            background-color: rgb(1, 70, 58);
            color: rgb(13, 13, 14);
        }
        .nav-item {
            color: #81c4eb;
        }
        aside {
            color: rgb(1, 70, 58);
        }
        aside a {
            text-decoration: none;
        }
        .list-group-item {
            background-color: rgb(1, 70, 58);
            border: none;
            margin-bottom: 10px;
        }
        .list-group-item a {
            color: #ffffff;
        }
        .btn {
            background-color: aliceblue;
            color: rgb(1, 70, 58);
        }
        .card {
            margin-bottom: 20px;
        }
        .card-img {
            height: 200px;
            object-fit: cover;
        }
        .sidebar {
            height: 200vh;
            padding-top: 20px;
        }
        .main-content {
            padding: 20px;
        }
        #c-1{
            height: 550px;
        }
        .col-md-2{
            background-color: rgb(1, 70, 58);
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-plane-departure"></i> TRAVEL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row my-1">
            <aside class="col-md-2 sidebar">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/dashboard"><i class="fa-solid fa-house-user"></i>  Dashboard</a></li>
                    <li class="list-group-item"><a href="/travel"><i class="fa-solid fa-plane"></i> Travel</a></li>
                    <li class="list-group-item"><a href="/eat"><i class="fa-solid fa-utensils"></i> Eat</a></li>
                    <li class="list-group-item"><a href="/relax"><i class="fa-solid fa-couch"></i> Relax</a></li>
                </ul>
                <a href="/add" class="btn mt-3">Add Post</a>
            </aside>

            <div class="content col-md-10">
                <h2>BLOG</h2>
                <form action="/addRecord" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="image" class="form-label">Post Image</label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    <div class="mb-3">
                        <label for="title" class="form-label">Post Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Post Content</label>
                        <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
                    
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-1c0b8e5e1f3e0c1f3b1c0b8e5e1f3e0c1f3b1c0b8e5e1f3e0c1f3b1c0b8e5e1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-c0b8e5e1f3e0c1f3b1c0b8e5e1f3e0c1f3b1c0b8e5e1f3e0c1f3b1c0b8e5e1" crossorigin="anonymous"></script>
</body>
</html>